 <!-- form handling -->
 <form action="/api/courses" method="POST" id="add_user">
    <div class="new_user">
        <div class="form-group">
            <label for="name" class="text-light">Name</label>
            <input type="text" name="name" value="" placeholder="Web II">
        </div>
        <div class="form-group">
            <label for="code" class="text-light">Code</label>
            <input type="text" name="code" value="" placeholder="ISW-711">
        </div>
        <div class="form-group">
            <label for="career" class="text-light">Career</label>
            <input type="text" name="career" value="" placeholder="Software Engineering">
        </div>
        <div class="form-group">
            <label for="credits" class="text-light">Credits</label>
            <input type="text" name="credits" value="" placeholder="3">
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>